### Import Dependencies

In [1]:
import pandas as pd
import datetime as dt

### Set output data file filepath variable

In [2]:
output_data_filepath = "Resources/"

### Set Input File path for Citi Bike CSV files

In [3]:
csvFilepath = "Resources/"

# 2020 months
citiBikeTripData202001_csv = f"{csvFilepath}202001-citibike-tripdata.csv"
citiBikeTripData202002_csv = f"{csvFilepath}202002-citibike-tripdata.csv"
citiBikeTripData202003_csv = f"{csvFilepath}202003-citibike-tripdata.csv"
citiBikeTripData202004_csv = f"{csvFilepath}202004-citibike-tripdata.csv"

# 2019 months
citiBikeTripData201901_csv = f"{csvFilepath}201901-citibike-tripdata.csv"
citiBikeTripData201902_csv = f"{csvFilepath}201902-citibike-tripdata.csv"
citiBikeTripData201903_csv = f"{csvFilepath}201903-citibike-tripdata.csv"
citiBikeTripData201904_csv = f"{csvFilepath}201904-citibike-tripdata.csv"

# 2018 months
citiBikeTripData201801_csv = f"{csvFilepath}201801-citibike-tripdata.csv"
citiBikeTripData201802_csv = f"{csvFilepath}201802-citibike-tripdata.csv"
citiBikeTripData201803_csv = f"{csvFilepath}201803-citibike-tripdata.csv"
citiBikeTripData201804_csv = f"{csvFilepath}201804-citibike-tripdata.csv"

### Read in csv data files

In [4]:
# 2020 months
citiBikeTripData202001_df = pd.read_csv(citiBikeTripData202001_csv, dtype="object", encoding="utf-8")
citiBikeTripData202002_df = pd.read_csv(citiBikeTripData202002_csv, dtype="object", encoding="utf-8")
citiBikeTripData202003_df = pd.read_csv(citiBikeTripData202003_csv, dtype="object", encoding="utf-8")
# citiBikeTripData202004_df = pd.read_csv(citiBikeTripData202004_csv, dtype="object", encoding="utf-8")

# 2019 months
citiBikeTripData201901_df = pd.read_csv(citiBikeTripData201901_csv, dtype="object", encoding="utf-8")
citiBikeTripData201902_df = pd.read_csv(citiBikeTripData201902_csv, dtype="object", encoding="utf-8")
citiBikeTripData201903_df = pd.read_csv(citiBikeTripData201903_csv, dtype="object", encoding="utf-8")
# citiBikeTripData201904_df = pd.read_csv(citiBikeTripData201904_csv, dtype="object", encoding="utf-8")

# 2018 months
citiBikeTripData201801_df = pd.read_csv(citiBikeTripData201801_csv, dtype="object", encoding="utf-8")
citiBikeTripData201802_df = pd.read_csv(citiBikeTripData201802_csv, dtype="object", encoding="utf-8")
citiBikeTripData201803_df = pd.read_csv(citiBikeTripData201803_csv, dtype="object", encoding="utf-8")
# citiBikeTripData201804_df = pd.read_csv(citiBikeTripData201804_csv, dtype="object", encoding="utf-8")

### See how many records for each & overall total

In [5]:
# 2020 months
print(f"2020.01 # of records: {len(citiBikeTripData202001_df)}")
print(f"2020.02 # of records: {len(citiBikeTripData202002_df)}")
print(f"2020.03 # of records: {len(citiBikeTripData202003_df)}")
# print(f"2020.04 # of records: {len(citiBikeTripData202004_df)}")
records2020 = len(citiBikeTripData202001_df) + len(citiBikeTripData202002_df) + len(citiBikeTripData202003_df)

# 2019 months
print(f"2019.01 # of records: {len(citiBikeTripData201901_df)}")
print(f"2019.02 # of records: {len(citiBikeTripData201902_df)}")
print(f"2019.03 # of records: {len(citiBikeTripData201903_df)}")
# print(f"2019.04 # of records: {len(citiBikeTripData201904_df)}")
records2019 = len(citiBikeTripData201901_df) + len(citiBikeTripData201902_df) + len(citiBikeTripData201903_df)

# 2018 months
print(f"2018.01 # of records: {len(citiBikeTripData201801_df)}")
print(f"2018.02 # of records: {len(citiBikeTripData201802_df)}")
print(f"2018.03 # of records: {len(citiBikeTripData201803_df)}")
# print(f"2018.04 # of records: {len(citiBikeTripData201804_df)}")
records2018 = len(citiBikeTripData201801_df) + len(citiBikeTripData201802_df) + len(citiBikeTripData201803_df)

# Total (Jan, Feb & Mar of 2018, 2019 and 2020)
print("--------------------")
print(f"Total # of records: {records2020 + records2019 + records2018}")
print("--------------------")

2020.01 # of records: 1240596
2020.02 # of records: 1146830
2020.03 # of records: 1068457
2019.01 # of records: 967287
2019.02 # of records: 943744
2019.03 # of records: 1327960
2018.01 # of records: 718994
2018.02 # of records: 843114
2018.03 # of records: 976672
--------------------
Total # of records: 9233654
--------------------

#### Visualize the DataFrame(s)

In [6]:
# # 2020 months
# citiBikeTripData202001_df.head()
# citiBikeTripData202002_df.head()
# citiBikeTripData202003_df.head()
# # citiBikeTripData202004_df.head()

# # 2019 months
# citiBikeTripData201901_df.head()
# citiBikeTripData201902_df.head()
# citiBikeTripData201903_df.head()
# citiBikeTripData201904_df.head()

# # 2018 months
# citiBikeTripData201801_df.head()
# citiBikeTripData201802_df.head()
# citiBikeTripData201803_df.head()
# citiBikeTripData201804_df.head()

### Union/Concat DataFrames together with record counts for QC

In [7]:
# 2020 months
citiBikeTripData2020_df = pd.concat([citiBikeTripData202001_df, citiBikeTripData202002_df, citiBikeTripData202003_df])
print(f"2020 # of records: {len(citiBikeTripData2020_df)}")

# 2019 months
citiBikeTripData2019_df = pd.concat([citiBikeTripData201901_df, citiBikeTripData201902_df, citiBikeTripData201903_df])
print(f"2019 # of records: {len(citiBikeTripData2019_df)}")

# 2018 months
citiBikeTripData2018_df = pd.concat([citiBikeTripData201801_df, citiBikeTripData201802_df, citiBikeTripData201803_df])
print(f"2018 # of records: {len(citiBikeTripData2018_df)}")

# Total (Jan, Feb & Mar of 2018, 2019 and 2020)
citiBikeTripData_df = pd.concat([citiBikeTripData2020_df, citiBikeTripData2019_df, citiBikeTripData2018_df])
print("--------------------")
print(f"Total # of records: {len(citiBikeTripData2020_df) + len(citiBikeTripData2019_df) + len(citiBikeTripData2018_df)}")
print(f"Total # of records: {len(citiBikeTripData_df)}")
print("--------------------")

2020 # of records: 3455883
2019 # of records: 3238991
2018 # of records: 2538780
--------------------
Total # of records: 9233654
Total # of records: 9233654
--------------------

#### Visualize the raw/master DataFrame (union/concat)

In [8]:
citiBikeTripData_df

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender
0,789,2020-01-01 00:00:55.3900,2020-01-01 00:14:05.1470,504,1 Ave & E 16 St,40.73221853,-73.98165557,307,Canal St & Rutgers St,40.71427487,-73.98990025,30326,Subscriber,1992,1
1,1541,2020-01-01 00:01:08.1020,2020-01-01 00:26:49.1780,3423,West Drive & Prospect Park West,40.6610633719006,-73.97945255041122,3300,Prospect Park West & 8 St,40.66514681533792,-73.97637605667114,17105,Customer,1969,1
2,1464,2020-01-01 00:01:42.1400,2020-01-01 00:26:07.0110,3687,E 33 St & 1 Ave,40.74322681432173,-73.97449783980846,259,South St & Whitehall St,40.70122128,-74.01234218,40177,Subscriber,1963,1
3,592,2020-01-01 00:01:45.5610,2020-01-01 00:11:38.1550,346,Bank St & Hudson St,40.73652889,-74.00618026,490,8 Ave & W 33 St,40.751551,-73.993934,27690,Subscriber,1980,1
4,702,2020-01-01 00:01:45.7880,2020-01-01 00:13:28.2400,372,Franklin Ave & Myrtle Ave,40.694546087246025,-73.95801365375519,3637,Fulton St & Waverly Ave,40.683238654603414,-73.96599590778351,32583,Subscriber,1982,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
976667,515,2018-03-31 19:47:26.4920,2018-03-31 19:56:01.9420,3674,Jay St & York St,40.701403172577244,-73.98672670125961,313,Washington Ave & Park Ave,40.69610226,-73.96751037,31195,Subscriber,1963,1
976668,446,2018-03-31 22:43:44.6140,2018-03-31 22:51:10.6930,3674,Jay St & York St,40.701403172577244,-73.98672670125961,313,Washington Ave & Park Ave,40.69610226,-73.96751037,15618,Subscriber,1983,1
976669,277,2018-03-31 23:12:21.1530,2018-03-31 23:16:58.8590,3674,Jay St & York St,40.701403172577244,-73.98672670125961,391,Clark St & Henry St,40.69760127,-73.99344559,15660,Subscriber,1983,1
976670,517,2018-03-31 23:26:29.5770,2018-03-31 23:35:07.2460,3674,Jay St & York St,40.701403172577244,-73.98672670125961,321,Cadman Plaza E & Red Cross Pl,40.69991755,-73.98971773,25195,Subscriber,1986,1
976671,2219,2018-03-31 23:56:42.5160,2018-04-01 00:33:41.7410,3674,Jay St & York St,40.701403172577244,-73.98672670125961,317,E 6 St & Avenue B,40.72453734,-73.98185424,17883,Subscriber,1980,2

### Clean the data

#### See how many and which columns contain NaN / NULL values

In [9]:
columnsWithNanValues = citiBikeTripData_df.columns[pd.isna(citiBikeTripData_df).any(axis=0)].tolist()

print(f"# of Columns containing NaN / NULL Values: {len(columnsWithNanValues)}")
print("--------------------")
for i in columnsWithNanValues:
    print(i)

# of Columns containing NaN / NULL Values: 4
--------------------
start station id
start station name
end station id
end station name

#### See how many and which rows contain NaN / NULL values in any column

In [10]:
recordsWithNanValues = citiBikeTripData_df[pd.isna(citiBikeTripData_df).any(axis=1)]

# len(citiBikeTripData_df[pd.isna(citiBikeTripData_df).any(axis=1)])
print(f"# of Records containing NaN / NULL Values in any column: {len(recordsWithNanValues)}")
# print(recordsWithNanValues)
# recordsWithNanValues

# of Records containing NaN / NULL Values in any column: 37

#### Drop rows that contain NaN / NULL values in any column

In [11]:
cleanedCitiBike_df = citiBikeTripData_df.dropna(axis=0)
print(f"# of remaining records: {len(cleanedCitiBike_df)}")

# of remaining records: 9233617

#### Visualize the cleaned DataFrame

In [12]:
cleanedCitiBike_df

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender
0,789,2020-01-01 00:00:55.3900,2020-01-01 00:14:05.1470,504,1 Ave & E 16 St,40.73221853,-73.98165557,307,Canal St & Rutgers St,40.71427487,-73.98990025,30326,Subscriber,1992,1
1,1541,2020-01-01 00:01:08.1020,2020-01-01 00:26:49.1780,3423,West Drive & Prospect Park West,40.6610633719006,-73.97945255041122,3300,Prospect Park West & 8 St,40.66514681533792,-73.97637605667114,17105,Customer,1969,1
2,1464,2020-01-01 00:01:42.1400,2020-01-01 00:26:07.0110,3687,E 33 St & 1 Ave,40.74322681432173,-73.97449783980846,259,South St & Whitehall St,40.70122128,-74.01234218,40177,Subscriber,1963,1
3,592,2020-01-01 00:01:45.5610,2020-01-01 00:11:38.1550,346,Bank St & Hudson St,40.73652889,-74.00618026,490,8 Ave & W 33 St,40.751551,-73.993934,27690,Subscriber,1980,1
4,702,2020-01-01 00:01:45.7880,2020-01-01 00:13:28.2400,372,Franklin Ave & Myrtle Ave,40.694546087246025,-73.95801365375519,3637,Fulton St & Waverly Ave,40.683238654603414,-73.96599590778351,32583,Subscriber,1982,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
976667,515,2018-03-31 19:47:26.4920,2018-03-31 19:56:01.9420,3674,Jay St & York St,40.701403172577244,-73.98672670125961,313,Washington Ave & Park Ave,40.69610226,-73.96751037,31195,Subscriber,1963,1
976668,446,2018-03-31 22:43:44.6140,2018-03-31 22:51:10.6930,3674,Jay St & York St,40.701403172577244,-73.98672670125961,313,Washington Ave & Park Ave,40.69610226,-73.96751037,15618,Subscriber,1983,1
976669,277,2018-03-31 23:12:21.1530,2018-03-31 23:16:58.8590,3674,Jay St & York St,40.701403172577244,-73.98672670125961,391,Clark St & Henry St,40.69760127,-73.99344559,15660,Subscriber,1983,1
976670,517,2018-03-31 23:26:29.5770,2018-03-31 23:35:07.2460,3674,Jay St & York St,40.701403172577244,-73.98672670125961,321,Cadman Plaza E & Red Cross Pl,40.69991755,-73.98971773,25195,Subscriber,1986,1
976671,2219,2018-03-31 23:56:42.5160,2018-04-01 00:33:41.7410,3674,Jay St & York St,40.701403172577244,-73.98672670125961,317,E 6 St & Avenue B,40.72453734,-73.98185424,17883,Subscriber,1980,2

### Create a master Citi Bike Station DataFrame
##### (in order to use the most recent station id, station latitude and station longitude - for when there are multiple values per station name; presumably due to reporting errors and/or station moves/id changes) - this allow the most recent value for the station to be used for reporting

##### Create Functions to convert datetimes from one data type to another

In [13]:
# # Function to convert datetime (dtype: object) to datetime (dtype: datetime64)
# def convertDateTimeToDateTime64(inputDateTime):
#     outputDateTime = pd.to_datetime(inputDateTime)
#     return outputDateTime

# # Function to convert datetime (dtype: datetime64) to unix/epoch
# def convertDateTimeToUnix(inputDateTime):
#     outputDateTime = (inputDateTime - dt.datetime(1970,1,1)).dt.total_seconds()
#     return outputDateTime

# Function to convert datetime (dtype: datetime64) to unix/epoch
def convertDateTimeToUnix(inputDateTime):
    outputDateTime = (pd.to_datetime(inputDateTime) - dt.datetime(1970,1,1)).dt.total_seconds()
    return outputDateTime
 
# # Another function to convert datetime (dtype: datetime64) to unix/epoch (less accurate)
# def convertDateTimeToUnix2(inputDateTime):
#     outputDateTime = inputDateTime.astype("int64")//1e9
#     return outputDateTime

# # Another function to convert datetime (dtype: datetime64) to unix/epoch (less accurate)
# def convertDateTimeToUnix2(inputDateTime):
#     outputDateTime = pd.to_datetime(inputDateTime).astype("int64")//1e9
#     return outputDateTime

# # Function to convert datetime (dtype: unix/epoch) back to dtype: datetime64
# def convertUnixDateTimeToDateTime64(inputDateTime):
#     outputDateTime = pd.to_datetime(inputDateTime, unit="s")
#     return outputDateTime

#### Create Start and Stop Stations DataFrames; then union/concat together

##### Start Stations

In [14]:
# Start Stations
start_stations_df = cleanedCitiBike_df[["starttime", "start station id","start station name",\
                                       "start station latitude","start station longitude"]]

# Rename Start Stations Columns
start_stations_df = start_stations_df.rename(columns = {"starttime": "datetime",\
                                                        "start station id": "station id",\
                                                        "start station name": "station name",\
                                                        "start station latitude": "station latitude",\
                                                        "start station longitude": "station longitude"})

# Sort first by station name (asc) then datetime (desc) to be able to flag most recent event by station name
start_stations_df = start_stations_df.sort_values(["station name","datetime"],\
                                                  ascending=[True,False])

# Add column: "datetime_unix" to sort later on (by numeric value) and flag a row as most recent record per station
start_stations_df["datetime_unix"] = convertDateTimeToUnix(start_stations_df["datetime"])

# Add column: "startRankRow" to add row number per/partition by "station name", ordered by datetime (desc)
start_stations_df["startRankRow"] = start_stations_df.groupby("station name")["datetime_unix"]\
                                        .rank(method="first", ascending=False)\
                                        .astype(int)

# Add column: "startRankRowReverse" to add row number per/partition by "station name", ordered by datetime (asc)
start_stations_df["startRankRowReverse"] = start_stations_df.groupby("station name")["datetime_unix"]\
                                            .rank(method="first", ascending=True)\
                                            .astype(int)

# Add column: "startMostRecentFlag" to flag the most recent record for each "station name"
start_stations_df.loc[start_stations_df["startRankRow"] == 1, "startMostRecentFlag"] = 1
start_stations_df.loc[start_stations_df["startRankRow"] != 1, "startMostRecentFlag"] = 0
start_stations_df["startMostRecentFlag"] = start_stations_df["startMostRecentFlag"].astype(int)

# Reset Index to ascending order
start_stations_df = start_stations_df.reset_index()
del start_stations_df["index"]

# Vizualize the DataFrame
start_stations_df

,datetime,station id,station name,station latitude,station longitude,datetime_unix,startRankRow,startRankRowReverse,startMostRecentFlag
0,2020-03-31 20:43:16.3980,3496,1 Ave & E 110 St,40.7923272,-73.9383,1.585687e+09,1,5717,1
1,2020-03-31 20:28:58.6810,3496,1 Ave & E 110 St,40.7923272,-73.9383,1.585687e+09,2,5716,0
2,2020-03-31 18:15:34.5370,3496,1 Ave & E 110 St,40.7923272,-73.9383,1.585679e+09,3,5715,0
3,2020-03-31 18:11:37.2420,3496,1 Ave & E 110 St,40.7923272,-73.9383,1.585678e+09,4,5714,0
4,2020-03-31 17:52:02.5230,3496,1 Ave & E 110 St,40.7923272,-73.9383,1.585677e+09,5,5713,0
...,...,...,...,...,...,...,...,...,...
9233612,2018-01-01 14:08:01.5560,430,York St & Jay St,40.7014851,-73.98656928,1.514816e+09,3017,5,0
9233613,2018-01-01 14:08:01.3790,430,York St & Jay St,40.7014851,-73.98656928,1.514816e+09,3018,4,0
9233614,2018-01-01 10:40:03.2610,430,York St & Jay St,40.7014851,-73.98656928,1.514803e+09,3019,3,0
9233615,2018-01-01 09:09:09.3780,430,York St & Jay St,40.7014851,-73.98656928,1.514798e+09,3020,2,0
9233616,2018-01-01 03:05:34.9310,430,York St & Jay St,40.7014851,-73.98656928,1.514776e+09,3021,1,0

In [ ]:
# # Convert datetime (object) to datetime data type as new column
# start_stations_df["datetime_asdatetime64"] = pd.to_datetime(start_stations_df["datetime"])


# start_stations_df["datetime_unix"] = (start_stations_df["datetime_asdatetime64ns"] - dt.datetime(1970,1,1)).dt.total_seconds()
# start_stations_df["datetime_unix2"] = start_stations_df["datetime_asdatetime64ns"].astype("int64")//1e9
# start_stations_df["timediff1"] = start_stations_df["datetime_unix"] - start_stations_df["datetime_unix2"]


# # start_stations_df["datetime_unix_func"] = convertDateTimeToUnix(start_stations_df["datetime_asdatetime64ns"])
# start_stations_df["datetime_unix_func"] = convertDateTimeToUnix(start_stations_df["datetime"])
# # start_stations_df["datetime_unix2_func"] = convertDateTimeToUnix2(start_stations_df["datetime_asdatetime64ns"])
# start_stations_df["datetime_unix2_func"] = convertDateTimeToUnix2(start_stations_df["datetime"])

# # back to date time
# start_stations_df["datetime_back"] = pd.to_datetime(start_stations_df["datetime_unix"], unit="s")
# start_stations_df["datetime_back2"] = pd.to_datetime(start_stations_df["datetime_unix2"], unit="s")

# start_stations_df["datetime_back_func"] = pd.to_datetime(start_stations_df["datetime_unix_func"], unit="s")
# start_stations_df["datetime_back2_func"] = pd.to_datetime(start_stations_df["datetime_unix2_func"], unit="s")

##### Count Distincts

In [15]:
# Distinct: station name values
# len(start_stations_df.loc[start_stations_df["startMostRecentFlag"] == 1])
print(f"Distinct station name values: {len(start_stations_df.loc[start_stations_df['startMostRecentFlag'] == 1])}")
      
# Distinct: station name values
print(f"Distinct station name values: {len(start_stations_df.groupby('station name')['station name'].nunique())}")

# Distinct: station name & station id values
print(f"Distinct station name & station id values: {len(start_stations_df.groupby(['station name','station id'])['station name','station id'].nunique())}")

# Distinct: station name, station id & station lat/long values
print(f"Distinct station name, station id & station lat/long values: {len(start_stations_df.groupby(['station name','station id','station latitude','station longitude'])['station name','station id','station latitude','station longitude'].nunique())}")

Distinct station name values: 986
Distinct station name values: 986
Distinct station name & station id values: 1000
Distinct station name, station id & station lat/long values: 1189

##### Stop Stations

In [16]:
# Stop Stations
stop_stations_df = cleanedCitiBike_df[["stoptime", "end station id","end station name",\
                                      "end station latitude","end station longitude"]]

# Rename Stop Stations Columns
stop_stations_df = stop_stations_df.rename(columns = {"stoptime": "datetime",\
                                                      "end station id": "station id",\
                                                      "end station name": "station name",\
                                                      "end station latitude": "station latitude",\
                                                      "end station longitude": "station longitude"})

# Sort first by station name (asc) then datetime (desc) to be able to flag most recent event by station name
stop_stations_df = stop_stations_df.sort_values(["station name","datetime"],\
                                                ascending=[True,False])

# Add column: "datetime_unix" to sort later on (by numeric value) and flag a row as most recent record per station
stop_stations_df["datetime_unix"] = convertDateTimeToUnix(stop_stations_df["datetime"])

# Add column: "stopRankRow" to add row number per/partition by "station name", ordered by datetime (desc)
stop_stations_df["stopRankRow"] = stop_stations_df.groupby("station name")["datetime_unix"]\
                                    .rank(method="first", ascending=False)\
                                    .astype(int)

# Add column: "stopRankRowReverse" to add row number per/partition by "station name", ordered by datetime (asc)
stop_stations_df["stopRankRowReverse"] = stop_stations_df.groupby("station name")["datetime_unix"]\
                                            .rank(method="first", ascending=True)\
                                            .astype(int)

# Add column: "stopMostRecentFlag" to flag the most recent record for each "station name"
stop_stations_df.loc[stop_stations_df["stopRankRow"] == 1, "stopMostRecentFlag"] = 1
stop_stations_df.loc[stop_stations_df["stopRankRow"] != 1, "stopMostRecentFlag"] = 0
stop_stations_df["stopMostRecentFlag"] = stop_stations_df["stopMostRecentFlag"].astype(int)

# Reset Index to ascending order
stop_stations_df = stop_stations_df.reset_index()
del stop_stations_df["index"]

# Vizualize the DataFrame
stop_stations_df

,datetime,station id,station name,station latitude,station longitude,datetime_unix,stopRankRow,stopRankRowReverse,stopMostRecentFlag
0,2020-03-31 22:22:11.7490,3496,1 Ave & E 110 St,40.7923272,-73.9383,1.585693e+09,1,5876,1
1,2020-03-31 21:07:51.5600,3496,1 Ave & E 110 St,40.7923272,-73.9383,1.585689e+09,2,5875,0
2,2020-03-31 19:52:00.5890,3496,1 Ave & E 110 St,40.7923272,-73.9383,1.585684e+09,3,5874,0
3,2020-03-31 18:14:33.7780,3496,1 Ave & E 110 St,40.7923272,-73.9383,1.585678e+09,4,5873,0
4,2020-03-31 18:08:33.5270,3496,1 Ave & E 110 St,40.7923272,-73.9383,1.585678e+09,5,5872,0
...,...,...,...,...,...,...,...,...,...
9233612,2018-01-01 16:33:25.6580,430,York St & Jay St,40.7014851,-73.98656928,1.514824e+09,3165,5,0
9233613,2018-01-01 12:22:05.2250,430,York St & Jay St,40.7014851,-73.98656928,1.514809e+09,3166,4,0
9233614,2018-01-01 12:18:18.8950,430,York St & Jay St,40.7014851,-73.98656928,1.514809e+09,3167,3,0
9233615,2018-01-01 06:27:51.6830,430,York St & Jay St,40.7014851,-73.98656928,1.514788e+09,3168,2,0
9233616,2018-01-01 04:24:26.3820,430,York St & Jay St,40.7014851,-73.98656928,1.514781e+09,3169,1,0

##### Count Distincts

In [17]:
# Distinct: station name values
# len(stop_stations_df.loc[stop_stations_df["stopMostRecentFlag"] == 1])
print(f"Distinct station name values: {len(stop_stations_df.loc[stop_stations_df['stopMostRecentFlag'] == 1])}")
      
# Distinct: station name values
print(f"Distinct station name values: {len(stop_stations_df.groupby('station name')['station name'].nunique())}")

# Distinct: station name & station id values
print(f"Distinct station name & station id values: {len(stop_stations_df.groupby(['station name','station id'])['station name','station id'].nunique())}")

# Distinct: station name, station id & station lat/long values
print(f"Distinct station name, station id & station lat/long values: {len(stop_stations_df.groupby(['station name','station id','station latitude','station longitude'])['station name','station id','station latitude','station longitude'].nunique())}")

Distinct station name values: 1008
Distinct station name values: 1008
Distinct station name & station id values: 1022
Distinct station name, station id & station lat/long values: 1213

#### Union/Concat Start and Stop Station data frames together

In [18]:
# Union/Concat together
citiBikeStations_df = pd.concat([start_stations_df, stop_stations_df])
                        
# Drop duplicates
citiBikeStations_df = citiBikeStations_df.drop_duplicates()

# Sort values
citiBikeStations_df = citiBikeStations_df.sort_values(["station name","datetime"],\
                                                      ascending=[True,False])

# Reset index
citiBikeStations_df = citiBikeStations_df.reset_index()
del citiBikeStations_df["index"]

/Users/shanergy/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:2: FutureWarning: Sorting because non-concatenation axis is not aligned. A future version
of pandas will change to not sort by default.

To accept the future behavior, pass 'sort=False'.

To retain the current behavior and silence the warning, pass 'sort=True'.

In [19]:
# Set datatypes for station id, latitude and longitude to integer, float and float, respectively to ensure property dtypes
citiBikeStations_df["station id"] = pd.to_numeric(citiBikeStations_df["station id"], downcast="integer")
citiBikeStations_df["station latitude"] = pd.to_numeric(citiBikeStations_df["station latitude"], downcast="float")
citiBikeStations_df["station longitude"] = pd.to_numeric(citiBikeStations_df["station longitude"], downcast="float")

#### Visualize the Stations DataFrame

In [20]:
citiBikeStations_df

,datetime,datetime_unix,startMostRecentFlag,startRankRow,startRankRowReverse,station id,station latitude,station longitude,station name,stopMostRecentFlag,stopRankRow,stopRankRowReverse
0,2020-03-31 22:22:11.7490,1.585693e+09,NaN,NaN,NaN,3496,40.792328,-73.938301,1 Ave & E 110 St,1.0,1.0,5876.0
1,2020-03-31 21:07:51.5600,1.585689e+09,NaN,NaN,NaN,3496,40.792328,-73.938301,1 Ave & E 110 St,0.0,2.0,5875.0
2,2020-03-31 20:43:16.3980,1.585687e+09,1.0,1.0,5717.0,3496,40.792328,-73.938301,1 Ave & E 110 St,NaN,NaN,NaN
3,2020-03-31 20:28:58.6810,1.585687e+09,0.0,2.0,5716.0,3496,40.792328,-73.938301,1 Ave & E 110 St,NaN,NaN,NaN
4,2020-03-31 19:52:00.5890,1.585684e+09,NaN,NaN,NaN,3496,40.792328,-73.938301,1 Ave & E 110 St,0.0,3.0,5874.0
...,...,...,...,...,...,...,...,...,...,...,...,...
18467229,2018-01-01 10:40:03.2610,1.514803e+09,0.0,3019.0,3.0,430,40.701485,-73.986572,York St & Jay St,NaN,NaN,NaN
18467230,2018-01-01 09:09:09.3780,1.514798e+09,0.0,3020.0,2.0,430,40.701485,-73.986572,York St & Jay St,NaN,NaN,NaN
18467231,2018-01-01 06:27:51.6830,1.514788e+09,NaN,NaN,NaN,430,40.701485,-73.986572,York St & Jay St,0.0,3168.0,2.0
18467232,2018-01-01 04:24:26.3820,1.514781e+09,NaN,NaN,NaN,430,40.701485,-73.986572,York St & Jay St,0.0,3169.0,1.0
18467233,2018-01-01 03:05:34.9310,1.514776e+09,0.0,3021.0,1.0,430,40.701485,-73.986572,York St & Jay St,NaN,NaN,NaN

#### Create DataFrame holding most recent station id, station latitude/longitude values along with the counts of Start and Stop records for each station

##### NOTE: there are some stations that do not have any start records - this is becuase a trip's journey began with a station in the area CVS data files were obtained through, and ended in an area that wasn't (i.e., started in NYC, ended in Jersey City)

In [21]:
# Create start_stations_mrv_df on filtered values of start_stations_df for rows where startMostRecentFlag = 1
start_stations_mrv_df = start_stations_df.loc[start_stations_df['startMostRecentFlag'] == 1].reset_index()

# Drop unneeded columns
start_stations_mrv_df = start_stations_mrv_df.drop(columns=["index","datetime","datetime_unix","startRankRow","startMostRecentFlag"])

# Create stop_stations_mrv_df on filtered values of stop_stations_df for rows where stopMostRecentFlag = 1
stop_stations_mrv_df = stop_stations_df.loc[stop_stations_df['stopMostRecentFlag'] == 1].reset_index()

# Drop unneeded columns
stop_stations_mrv_df = stop_stations_mrv_df.drop(columns=["index","datetime","datetime_unix","stopRankRow","stopMostRecentFlag"])

# Merge/join start_stations_mrv_df and stop_stations_mrv_df
stations_mrv_df = pd.merge(start_stations_mrv_df, stop_stations_mrv_df, how="outer", on=["station name"])

# Replace NaN values in DataFrame with "NULL"
stations_mrv_df = stations_mrv_df.fillna("NULL")

# Use "station id" from start_stations_df, unless NaN / "NULL", then use stop_stations_df
stations_mrv_df.loc[stations_mrv_df["station id_x"] != "NULL", "station id"] = stations_mrv_df["station id_x"]
stations_mrv_df.loc[stations_mrv_df["station id_x"] == "NULL", "station id"] = stations_mrv_df["station id_y"]

# Use "station latitude" from start_stations_df, unless NaN / "NULL", then use stop_stations_df
stations_mrv_df.loc[stations_mrv_df["station latitude_x"] != "NULL", "station latitude"] = stations_mrv_df["station latitude_x"]
stations_mrv_df.loc[stations_mrv_df["station latitude_x"] == "NULL", "station latitude"] = stations_mrv_df["station latitude_y"]

# Use "station longitude" from start_stations_df, unless NaN / "NULL", then use stop_stations_df
stations_mrv_df.loc[stations_mrv_df["station longitude_x"] != "NULL", "station longitude"] = stations_mrv_df["station longitude_x"]
stations_mrv_df.loc[stations_mrv_df["station longitude_x"] == "NULL", "station longitude"] = stations_mrv_df["station longitude_y"]

# Use "startRankRowReverse" from start_stations_df, unless NaN / "NULL", then 0
stations_mrv_df.loc[stations_mrv_df["startRankRowReverse"] != "NULL", "stationStartRecords"] = stations_mrv_df["startRankRowReverse"]
stations_mrv_df.loc[stations_mrv_df["startRankRowReverse"] == "NULL", "stationStartRecords"] = 0

# Use "stopRankRowReverse" from start_stations_df, unless NaN / "NULL", then 0
stations_mrv_df.loc[stations_mrv_df["stopRankRowReverse"] != "NULL", "stationStopRecords"] = stations_mrv_df["stopRankRowReverse"]
stations_mrv_df.loc[stations_mrv_df["stopRankRowReverse"] == "NULL", "stationStopRecords"] = 0

# Drop unneeded columns
stations_mrv_df = stations_mrv_df.drop(columns=["station id_x","station latitude_x","station longitude_x","startRankRowReverse","station id_y","station latitude_y","station longitude_y","stopRankRowReverse"])

# Visualize the DataFrame
stations_mrv_df

/Users/shanergy/anaconda3/lib/python3.7/site-packages/pandas/core/ops/__init__.py:1115: FutureWarning: elementwise comparison failed; returning scalar instead, but in the future will perform elementwise comparison
  result = method(y)

,station name,station id,station latitude,station longitude,stationStartRecords,stationStopRecords
0,1 Ave & E 110 St,3496,40.7923272,-73.9383,5717,5876
1,1 Ave & E 16 St,504,40.73221853,-73.98165557,38271,37787
2,1 Ave & E 18 St,2003,40.733812191966315,-73.98054420948029,30574,29748
3,1 Ave & E 30 St,536,40.74144387,-73.97536082,23411,23769
4,1 Ave & E 44 St,455,40.75001986,-73.96905301,18674,18753
...,...,...,...,...,...,...
1003,Newport Pkwy,3199,40.7287448,-74.0321082,0,2
1004,Paulus Hook,3184,40.7141454,-74.0335519,0,10
1005,Riverview Park,3196,40.7443187,-74.0439909,0,2
1006,Washington St,3638,40.7242941,-74.0354826,0,2
1007,York St,3481,40.71649,-74.04105,0,1

#### Create grouped DataFrame (that groups by station name (all columns except values that are aggregated below))

In [22]:
groupedCitiBikeStations_df = citiBikeStations_df.groupby(["station name"])

#### Aggregate values

In [23]:
# Calculate the count of station id
countStationId = groupedCitiBikeStations_df["station id"].nunique()

# Calculate the count of station latitude
countStationLat = groupedCitiBikeStations_df["station latitude"].nunique()

# Calculate the station latitude variance
varStationLat = groupedCitiBikeStations_df["station latitude"].max() - groupedCitiBikeStations_df["station latitude"].min()

# Calculate the count of station longitude
countStationLng = groupedCitiBikeStations_df["station longitude"].nunique()

# Calculate the station longitude variance
varStationLng = groupedCitiBikeStations_df["station longitude"].max().astype(float)\
                    - groupedCitiBikeStations_df["station longitude"].min().astype(float)

# Calculate the max startRankRowReverse (total number of start records per station)
startStationRecords = groupedCitiBikeStations_df["startRankRowReverse"].max()

# Calculate the max stopRankRowReverse (total number of stop records per station)
stopStationRecords = groupedCitiBikeStations_df["stopRankRowReverse"].max()

In [24]:
# citiBikeStations_df.dtypes
# groupedCitiBikeStations_df.dtypes

#### Create Station Summary DataFrame (that holds the grouped and aggregated values)

In [27]:
summaryCitiBikeStations_df = pd.DataFrame({"countStationId": countStationId,
                                           "countStationLat": countStationLat,
                                           "varStationLat": varStationLat,
                                           "countStationLng": countStationLng,
                                           "varStationLng": varStationLng,
                                           "startStationRecords": startStationRecords,
                                           "stopStationRecords": stopStationRecords,
                                          })

# # Reorder Columns
# summaryCitiBikeStations_df = summaryCitiBikeStations_df[["station name","","","","","","","","","","","","",]]

# Sort DataFrame by station name
summaryCitiBikeStations_df = summaryCitiBikeStations_df.sort_values(["station name"], ascending=[True])

# Reset Index
summaryCitiBikeStations_df = summaryCitiBikeStations_df.reset_index()
del summaryCitiBikeStations_df["index"]

# Visualize the DataFrame
summaryCitiBikeStations_df

,station name,countStationId,countStationLat,varStationLat,countStationLng,varStationLng,startStationRecords,stopStationRecords
0,1 Ave & E 110 St,1,1,0.000000,1,0.000000,5717.0,5876.0
1,1 Ave & E 16 St,1,1,0.000000,1,0.000000,38271.0,37787.0
2,1 Ave & E 18 St,1,1,0.000000,1,0.000000,30574.0,29748.0
3,1 Ave & E 30 St,1,2,0.001442,2,0.001358,23411.0,23769.0
4,1 Ave & E 44 St,1,1,0.000000,1,0.000000,18674.0,18753.0
...,...,...,...,...,...,...,...,...
1003,Wyckoff St & Bond St,1,1,0.000000,1,0.000000,791.0,885.0
1004,Wyckoff St & Nevins St,1,1,0.000000,1,0.000000,1400.0,1408.0
1005,Wythe Ave & Metropolitan Ave,1,2,0.000889,2,0.001198,16141.0,16949.0
1006,York St,1,1,0.000000,1,0.000000,NaN,1.0
1007,York St & Jay St,1,1,0.000000,1,0.000000,3021.0,3169.0

#### Merge/join summaryCitiBikeStations_df and stations_mrv_df

In [28]:
# Merge/join summaryCitiBikeStations_df and stations_mrv_df
reducedCitiBikeStations_df = pd.merge(summaryCitiBikeStations_df, stations_mrv_df, how="outer", on=["station name"])

# Replace NaN values in DataFrame with 0
reducedCitiBikeStations_df = reducedCitiBikeStations_df.fillna(0)

# Rename Columns
reducedCitiBikeStations_df = reducedCitiBikeStations_df.rename(columns={"station name":"stationName",
                                                                        "station id":"stationId",
                                                                        "station latitude":"stationLatitude",
                                                                        "station longitude":"stationLongitude"
                                                                       })
# Visualize the DataFrame
reducedCitiBikeStations_df

,stationName,countStationId,countStationLat,varStationLat,countStationLng,varStationLng,startStationRecords,stopStationRecords,stationId,stationLatitude,stationLongitude,stationStartRecords,stationStopRecords
0,1 Ave & E 110 St,1,1,0.000000,1,0.000000,5717.0,5876.0,3496,40.7923272,-73.9383,5717.0,5876
1,1 Ave & E 16 St,1,1,0.000000,1,0.000000,38271.0,37787.0,504,40.73221853,-73.98165557,38271.0,37787
2,1 Ave & E 18 St,1,1,0.000000,1,0.000000,30574.0,29748.0,2003,40.733812191966315,-73.98054420948029,30574.0,29748
3,1 Ave & E 30 St,1,2,0.001442,2,0.001358,23411.0,23769.0,536,40.74144387,-73.97536082,23411.0,23769
4,1 Ave & E 44 St,1,1,0.000000,1,0.000000,18674.0,18753.0,455,40.75001986,-73.96905301,18674.0,18753
...,...,...,...,...,...,...,...,...,...,...,...,...,...
1003,Wyckoff St & Bond St,1,1,0.000000,1,0.000000,791.0,885.0,3720,40.68461653897949,-73.98721285164356,791.0,885
1004,Wyckoff St & Nevins St,1,1,0.000000,1,0.000000,1400.0,1408.0,3911,40.683426,-73.984275,1400.0,1408
1005,Wythe Ave & Metropolitan Ave,1,2,0.000889,2,0.001198,16141.0,16949.0,2002,40.716887,-73.963198,16141.0,16949
1006,York St,1,1,0.000000,1,0.000000,0.0,1.0,3481,40.71649,-74.04105,0.0,1
1007,York St & Jay St,1,1,0.000000,1,0.000000,3021.0,3169.0,430,40.7014851,-73.98656928,3021.0,3169

#### Analyze Number of stations with multiple station ids, latitudes and longitudes, along with variances to determine if significant

In [29]:
stationsMultipleIds = reducedCitiBikeStations_df.loc[reducedCitiBikeStations_df["countStationId"] > 1]
print(f"Stations with history of Multiple station ids: {len(stationsMultipleIds)}")
print("--------------------")
stationsMultipleLats = reducedCitiBikeStations_df.loc[reducedCitiBikeStations_df["countStationLat"] > 1]
print(f"Stations with history of Multiple station latitudes: {len(stationsMultipleLats)}")

print("--------------------")
stationsMultipleLatsVariance = reducedCitiBikeStations_df.loc[reducedCitiBikeStations_df["varStationLat"] > 0]
print(f"Min Lat Variance Found (all stations with multiple): {min(abs(stationsMultipleLatsVariance['varStationLat']))}")
print(f"Max Lat Variance Found (all stations with multiple): {max(abs(stationsMultipleLatsVariance['varStationLat']))}")

print("--------------------")
stationsMultipleLngs = reducedCitiBikeStations_df.loc[reducedCitiBikeStations_df["countStationLng"] > 1]
print(f"Stations with history of Multiple station longitudes: {len(stationsMultipleLngs)}")

print("--------------------")
stationsMultipleLngsVariance = reducedCitiBikeStations_df.loc[reducedCitiBikeStations_df["varStationLng"] > 0]
print(f"Min Lng Variance Found (all stations with multiple): {min(abs(stationsMultipleLngsVariance['varStationLng']))}")
print(f"Max Lng Variance Found (all stations with multiple): {max(abs(stationsMultipleLngsVariance['varStationLng']))}")

print("--------------------")
stationStartRecordsVariance = reducedCitiBikeStations_df.loc[reducedCitiBikeStations_df["startStationRecords"] != reducedCitiBikeStations_df["stationStartRecords"]]
print(f"Stations with variance in startStationRecords: {len(stationStartRecordsVariance)}")
print(stationStartRecordsVariance)
      
print("--------------------")
stationStopRecordsVariance = reducedCitiBikeStations_df.loc[reducedCitiBikeStations_df["stopStationRecords"] != reducedCitiBikeStations_df["stationStopRecords"]]
print(f"Stations with variance in stopStationRecords: {len(stationStopRecordsVariance)}")
print(stationStopRecordsVariance)

Stations with history of Multiple station ids: 14
--------------------
Stations with history of Multiple station latitudes: 206
--------------------
Min Lat Variance Found (all stations with multiple): 3.814697265625e-06
Max Lat Variance Found (all stations with multiple): 0.001522064208984375
--------------------
Stations with history of Multiple station longitudes: 206
--------------------
Min Lng Variance Found (all stations with multiple): 1.52587890625e-05
Max Lng Variance Found (all stations with multiple): 0.0015411376953125
--------------------
Stations with variance in startStationRecords: 0
Empty DataFrame
Columns: [stationName, countStationId, countStationLat, varStationLat, countStationLng, varStationLng, startStationRecords, stopStationRecords, stationId, stationLatitude, stationLongitude, stationStartRecords, stationStopRecords]
Index: []
--------------------
Stations with variance in stopStationRecords: 0
Empty DataFrame
Columns: [stationName, countStationId, countStationLat, varStationLat, countStationLng, varStationLng, startStationRecords, stopStationRecords, stationId, stationLatitude, stationLongitude, stationStartRecords, stationStopRecords]
Index: []

### Merge/join cleanedCitiBike_df and reducedCitiBikeStations_df DataFrames together

In [30]:
# Merge/join cleanedCitiBike_df and reducedCitiBikeStations_df for start station data
finalCitiBikeTripData_df = pd.merge(cleanedCitiBike_df, reducedCitiBikeStations_df,\
                                    how="left", left_on=["start station name"], right_on=["stationName"])

# Drop unneeded columns
finalCitiBikeTripData_df = finalCitiBikeTripData_df.drop(columns=["stationName","countStationId","countStationLat",\
                                                                  "varStationLat","countStationLng","varStationLng",\
                                                                  "startStationRecords","stopStationRecords",\
                                                                  "stationStartRecords","stationStopRecords"])

# Rename Columns
finalCitiBikeTripData_df = finalCitiBikeTripData_df.rename(columns={"tripduration":"TripDuration",
                                                                    "starttime":"TripStartTime",
                                                                    "stoptime":"TripStopTime",
                                                                    "start station id":"rawStartStationId",
                                                                    "start station name":"StartStationName",
                                                                    "start station id":"rawStartStationId",
                                                                    "start station latitude":"rawStartStationLatitude",
                                                                    "start station longitude":"rawStartStationLongitude",
                                                                    "end station id":"rawEndStationId",
                                                                    "end station name":"EndStationName",
                                                                    "end station id":"rawEndStationId",
                                                                    "end station latitude":"rawEndStationLatitude",
                                                                    "end station longitude":"rawEndStationLongitude",
                                                                    "bikeid":"BikeId",
                                                                    "usertype":"UserType",
                                                                    "birth year":"UserBirthYear",
                                                                    "gender":"UserGender",
                                                                    "stationId":"StartStationId",
                                                                    "stationLatitude":"StartStationLatitude",
                                                                    "stationLongitude":"StartStationLongitude"
                                                                   })

In [31]:
# Visualize the DataFrame
finalCitiBikeTripData_df

,TripDuration,TripStartTime,TripStopTime,rawStartStationId,StartStationName,rawStartStationLatitude,rawStartStationLongitude,rawEndStationId,EndStationName,rawEndStationLatitude,rawEndStationLongitude,BikeId,UserType,UserBirthYear,UserGender,StartStationId,StartStationLatitude,StartStationLongitude
0,789,2020-01-01 00:00:55.3900,2020-01-01 00:14:05.1470,504,1 Ave & E 16 St,40.73221853,-73.98165557,307,Canal St & Rutgers St,40.71427487,-73.98990025,30326,Subscriber,1992,1,504,40.73221853,-73.98165557
1,1541,2020-01-01 00:01:08.1020,2020-01-01 00:26:49.1780,3423,West Drive & Prospect Park West,40.6610633719006,-73.97945255041122,3300,Prospect Park West & 8 St,40.66514681533792,-73.97637605667114,17105,Customer,1969,1,3423,40.6610633719006,-73.97945255041122
2,1464,2020-01-01 00:01:42.1400,2020-01-01 00:26:07.0110,3687,E 33 St & 1 Ave,40.74322681432173,-73.97449783980846,259,South St & Whitehall St,40.70122128,-74.01234218,40177,Subscriber,1963,1,3687,40.74322681432173,-73.97449783980846
3,592,2020-01-01 00:01:45.5610,2020-01-01 00:11:38.1550,346,Bank St & Hudson St,40.73652889,-74.00618026,490,8 Ave & W 33 St,40.751551,-73.993934,27690,Subscriber,1980,1,346,40.73652889,-74.00618026
4,702,2020-01-01 00:01:45.7880,2020-01-01 00:13:28.2400,372,Franklin Ave & Myrtle Ave,40.694546087246025,-73.95801365375519,3637,Fulton St & Waverly Ave,40.683238654603414,-73.96599590778351,32583,Subscriber,1982,1,372,40.694546087246025,-73.95801365375519
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9233612,515,2018-03-31 19:47:26.4920,2018-03-31 19:56:01.9420,3674,Jay St & York St,40.701403172577244,-73.98672670125961,313,Washington Ave & Park Ave,40.69610226,-73.96751037,31195,Subscriber,1963,1,3674,40.701403172577244,-73.98672670125961
9233613,446,2018-03-31 22:43:44.6140,2018-03-31 22:51:10.6930,3674,Jay St & York St,40.701403172577244,-73.98672670125961,313,Washington Ave & Park Ave,40.69610226,-73.96751037,15618,Subscriber,1983,1,3674,40.701403172577244,-73.98672670125961
9233614,277,2018-03-31 23:12:21.1530,2018-03-31 23:16:58.8590,3674,Jay St & York St,40.701403172577244,-73.98672670125961,391,Clark St & Henry St,40.69760127,-73.99344559,15660,Subscriber,1983,1,3674,40.701403172577244,-73.98672670125961
9233615,517,2018-03-31 23:26:29.5770,2018-03-31 23:35:07.2460,3674,Jay St & York St,40.701403172577244,-73.98672670125961,321,Cadman Plaza E & Red Cross Pl,40.69991755,-73.98971773,25195,Subscriber,1986,1,3674,40.701403172577244,-73.98672670125961
9233616,2219,2018-03-31 23:56:42.5160,2018-04-01 00:33:41.7410,3674,Jay St & York St,40.701403172577244,-73.98672670125961,317,E 6 St & Avenue B,40.72453734,-73.98185424,17883,Subscriber,1980,2,3674,40.701403172577244,-73.98672670125961

In [32]:
# Merge/join finalCitiBikeTripData and reducedCitiBikeStations_df for stop/end station data
finalCitiBikeTripData_df = pd.merge(finalCitiBikeTripData_df, reducedCitiBikeStations_df,\
                                    how="left", left_on=["EndStationName"], right_on=["stationName"])

# Drop unneeded columns
finalCitiBikeTripData_df = finalCitiBikeTripData_df.drop(columns=["stationName","countStationId","countStationLat",\
                                                                  "varStationLat","countStationLng","varStationLng",\
                                                                  "startStationRecords","stopStationRecords",\
                                                                  "stationStartRecords","stationStopRecords"])

# Rename Columns
finalCitiBikeTripData_df = finalCitiBikeTripData_df.rename(columns={"stationId":"EndStationId",
                                                                    "stationLatitude":"EndStationLatitude",
                                                                    "stationLongitude":"EndStationLongitude"
                                                                   })

##### Remove records that includes start or end/stop locations in Montreal, Québec, Canada

In [33]:
# List of station names to exclude
stationNamesToExclude = ["8D QC Station 01","8D Mobile 01"]

# Use .query() to exclude records that have start or end station names included in the stationNamesToExclude list
finalCitiBikeTripData_df = finalCitiBikeTripData_df.query("StartStationName not in @stationNamesToExclude\
                            & EndStationName not in @stationNamesToExclude")

# Reset Index
finalCitiBikeTripData_df = finalCitiBikeTripData_df.reset_index()
del finalCitiBikeTripData_df["index"]

In [34]:
# Visualize the DataFrame
finalCitiBikeTripData_df

,TripDuration,TripStartTime,TripStopTime,rawStartStationId,StartStationName,rawStartStationLatitude,rawStartStationLongitude,rawEndStationId,EndStationName,rawEndStationLatitude,...,BikeId,UserType,UserBirthYear,UserGender,StartStationId,StartStationLatitude,StartStationLongitude,EndStationId,EndStationLatitude,EndStationLongitude
0,789,2020-01-01 00:00:55.3900,2020-01-01 00:14:05.1470,504,1 Ave & E 16 St,40.73221853,-73.98165557,307,Canal St & Rutgers St,40.71427487,...,30326,Subscriber,1992,1,504,40.73221853,-73.98165557,307,40.71427487,-73.98990025
1,1541,2020-01-01 00:01:08.1020,2020-01-01 00:26:49.1780,3423,West Drive & Prospect Park West,40.6610633719006,-73.97945255041122,3300,Prospect Park West & 8 St,40.66514681533792,...,17105,Customer,1969,1,3423,40.6610633719006,-73.97945255041122,3300,40.66514681533792,-73.97637605667114
2,1464,2020-01-01 00:01:42.1400,2020-01-01 00:26:07.0110,3687,E 33 St & 1 Ave,40.74322681432173,-73.97449783980846,259,South St & Whitehall St,40.70122128,...,40177,Subscriber,1963,1,3687,40.74322681432173,-73.97449783980846,259,40.70122128,-74.01234218
3,592,2020-01-01 00:01:45.5610,2020-01-01 00:11:38.1550,346,Bank St & Hudson St,40.73652889,-74.00618026,490,8 Ave & W 33 St,40.751551,...,27690,Subscriber,1980,1,346,40.73652889,-74.00618026,490,40.751551,-73.993934
4,702,2020-01-01 00:01:45.7880,2020-01-01 00:13:28.2400,372,Franklin Ave & Myrtle Ave,40.694546087246025,-73.95801365375519,3637,Fulton St & Waverly Ave,40.683238654603414,...,32583,Subscriber,1982,1,372,40.694546087246025,-73.95801365375519,3637,40.683238654603414,-73.96599590778351
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9233556,515,2018-03-31 19:47:26.4920,2018-03-31 19:56:01.9420,3674,Jay St & York St,40.701403172577244,-73.98672670125961,313,Washington Ave & Park Ave,40.69610226,...,31195,Subscriber,1963,1,3674,40.701403172577244,-73.98672670125961,313,40.69610226,-73.96751037
9233557,446,2018-03-31 22:43:44.6140,2018-03-31 22:51:10.6930,3674,Jay St & York St,40.701403172577244,-73.98672670125961,313,Washington Ave & Park Ave,40.69610226,...,15618,Subscriber,1983,1,3674,40.701403172577244,-73.98672670125961,313,40.69610226,-73.96751037
9233558,277,2018-03-31 23:12:21.1530,2018-03-31 23:16:58.8590,3674,Jay St & York St,40.701403172577244,-73.98672670125961,391,Clark St & Henry St,40.69760127,...,15660,Subscriber,1983,1,3674,40.701403172577244,-73.98672670125961,391,40.69760127,-73.99344559
9233559,517,2018-03-31 23:26:29.5770,2018-03-31 23:35:07.2460,3674,Jay St & York St,40.701403172577244,-73.98672670125961,321,Cadman Plaza E & Red Cross Pl,40.69991755,...,25195,Subscriber,1986,1,3674,40.701403172577244,-73.98672670125961,321,40.69991755,-73.98971773
9233560,2219,2018-03-31 23:56:42.5160,2018-04-01 00:33:41.7410,3674,Jay St & York St,40.701403172577244,-73.98672670125961,317,E 6 St & Avenue B,40.72453734,...,17883,Subscriber,1980,2,3674,40.701403172577244,-73.98672670125961,317,40.72453734,-73.98185424

##### Convert & export reducedCitiBikeStations_df and finalCitiBikeTripData_df DataFrames to CSV files

In [35]:
# reducedCitiBikeStations_df
reducedCitiBikeStations_df.to_csv(f"{output_data_filepath}ReducedCitiBikeStations.csv", encoding="utf-8", index= False)

# finalCitiBikeTripData_df
finalCitiBikeTripData_df.to_csv(f"{output_data_filepath}FinalCitiBikeTripData.csv", encoding="utf-8", index= False)